TOKEN="telegram_bot_token"
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY=""
GOOGLE_API_KEY=""
USER_AGENT="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36"